@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 40px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=734&q=80') center;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}


.main_element {
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.slide {
    height: 60vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    z-index: 3;
}


.slide#bike::before {
    background-image: url('https://images.unsplash.com/photo-1566480047210-b10eaa1f8095?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.slide#skiing::before {
    background-image: url('https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.slide#travelling::before {
    background-image: url('https://images.unsplash.com/photo-1519055548599-6d4d129508c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.slide#skydiving::before {
    background-image: url('https://images.unsplash.com/photo-1483301563007-8d0161daa1d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
}

.slide#diving::before {
    background-image: url('https://images.unsplash.com/photo-1544551763-46a013bb70d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.slide::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(0.71 * (60vh - 20px + 100vw - 100px));
    height: calc(0.71 * (60vh - 20px + 100vw - 100px));
    top: calc((1.41 * 0.71 * (60vh - 20px + 100vw - 100px) - (60vh - 20px)) / (0 - 2));
    left: calc((1.41 * 0.71 * (60vh - 20px + 100vw - 100px) - (60vh - 20px)) / (0 - 2));
    z-index: 2;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    z-index: 3;
}

.slide.active {
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active::before {
    transform: rotate(0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease-in-out;
}